---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const resources = (await getCollection("resources")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

resources.reverse();
---

<BaseLayout pageTitle="Resources">
	{
		resources.map((item) => (
			<article>
				<img
					src={item.data.image ?? "/images/default-resource.png"}
					alt=""
				/>
					<a href={`/resources/${item.slug}/`}>{item.data.title}</a>
					<FormattedDate date={item.data.pubDate} />
				<span>{item.data.description}</span>
			</article>
		))
	}
</BaseLayout>

<style>
	article {
		display: grid;
		gap: var(--step--2);
	}
	article + article {
		margin-block-start: var(--step-4);
	}
	img {
		grid-row: 1 / span 3;
		width: 100%;
	}
	@media screen and (min-width: 600px) {
		article {
			gap: var(--step--2) var(--step-1);
			grid-template-columns: 240px 1fr;
		}
	}
</style>
