---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<a href="/">
		{SITE_TITLE}
	</a>
</header>

<style>
	a {
		font-weight: bold;
		text-transform: uppercase;
	}
</style>
