---
import { SITE_TITLE } from "../consts";

const links = [
	["/resources", "Resources"],
	["/tools", "Tools"],
];
---

<header class="Line">
	<span class="icon">R</span>
	<a class="Line" href="/">
		{SITE_TITLE}
	</a>
	<nav class="Line --gap">
		{
			links.map(([href, text]) => (
				<a
					aria-current={
						[href, href + "/"].includes(Astro.url.pathname)
							? "page"
							: undefined
					}
					href={href}
				>
					{text}
				</a>
			))
		}
	</nav>
</header>

<style>
	.icon {
		--size: 24px;
		--dimensions: calc(var(--size) + 4px);
		align-items: center;
		background-color: var(--text);
		font-size: var(--size);
		font-weight: bold;
		display: flex;
		color: var(--background);
		height: var(--dimensions);
		justify-content: center;
		outline: 2px solid var(--text);
		outline-offset: 2px;
		width: var(--dimensions);
	}
	header > a {
		font-weight: bold;
		text-transform: uppercase;
		margin-inline-start: var(--step--2);
	}
	header > a svg {
		height: 1.5em;
		margin-inline-end: 0.5rem;
	}
	nav {
		gap: 0.5rem;
		margin-inline-start: auto;
	}
	nav a {
		display: inline-block;
		font-weight: bold;
	}
</style>
