---
import { SITE_TITLE } from "../consts";

const links = [
	["/resources", "Resources"],
	["/tools", "Tools"],
];
---

<header class="_line">
	<a href="/">
		{SITE_TITLE}
	</a>
	<nav class="_line --gap">
		{
			links.map(([href, text]) => (
				<a
					aria-current={
						[href, href + "/"].includes(Astro.url.pathname)
							? "page"
							: undefined
					}
					href={href}
				>
					{text}
				</a>
			))
		}
	</nav>
</header>

<style>
	header > a {
		font-weight: bold;
		text-transform: uppercase;
	}
	nav {
		gap: 0.5rem;
		margin-inline-start: auto;
	}
	nav a {
		display: inline-block;
	}
</style>
